/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */

/* header */

.text-display {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 1.5em;
}

header {
  background-color: #dacfc0;
}

nav {
  background-color: #142e21;

  a:link,
  a:visited {
    color: #fcd8a7;
  }

  li {
    border-top: 1px black solid;
    padding: 0.5em 3em;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 3em;
  a {
    margin-right: 1em;
  }
  img {
    max-width: 50px;
  }
}

/* allt genomgående */
html,
button {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 0.3em;
  text-align: center;
}

p {
  padding: 0.5em 1.5em;
}

/* text på bilden */

.hero-text {
  background-color: #dacfc0;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;

  button {
    background-color: #dacfc0;
    border-color: black;
    padding: 1em 3em;
    margin: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
  }
}

/* main */

.main-container {
  color: #fcd8a7;
  background-color: #142e21;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  padding: 1em 0;
}

/* bildkort */
.image-cards {
  background-color: #dacfc0;
  padding: 1em 2.5em;

  h2 {
    padding-bottom: 1em;
  }

  h3 {
    font-weight: bold;
    padding: 0.5em 1.1em;
  }

  div {
    background-color: white;
    border-radius: 8px;
  }

  img {
    border-radius: 8px 8px 0px 0px;
  }

  p {
    margin-bottom: 1em;
    padding: 0.5em 1.1em 1em 1.1em;
    line-height: 1.2;
  }
}

.main-slut {
  color: #fcd8a7;
  background-color: #142e21;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;

  h2 {
    padding-top: 1em;
  }

  p {
    text-align: left;
    padding: 1em 2em;
  }
  button {
    color: #fcd8a7;
    background-color: #142e21;
    padding: 1em 4em;
    margin: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
    border-color: #fcd8a7;
  }
}

/* footer */

/* Norrgläntan rad */
.text-display-end {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: #fcd8a7;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
}

/* text */
.footer-container {
  color: white;
  background-color: #121815;

  p {
    padding-top: 0.5em;
    padding-bottom: 2.5em;
  }

  h3 {
    color: #fcd8a7;
    text-align: left;
  }

  /* loggan */
  img {
    max-width: 80px;
  }

  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 2em;

  /* länkarna */
  a:link,
  a:visited {
    color: white;
  }

  ul li {
    padding: 0.3em 0em;
    text-align: left;
  }

  a {
    text-decoration: none;
  }
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 3em;

  .footer-columns .footer-column:last-child {
    text-align: right;
  }

  .footer-columns .footer-column:first-child {
    text-align: left;
  }
}
